* {
  padding: 0;
  margin: 0;
  /* 盒子模型 */
  box-sizing: border-box;
}

body {
  /* 弹性布局 让页面元素垂直+水平居中*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* 让页面始终占浏览器可是区域总高度 */
  height: 100vh;
  /* 渐变元素 */
  background: linear-gradient(#141e30, #243b55);
}

.login {
  /* 弹性布局，让子元素成为弹性项目 */
  display: flex;
  /* 让弹性项目垂直排列 */
  flex-direction: column;
  /* 让弹性项目水平居中 */
  align-items: center;
  width: 400px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}