* {
  padding: 0;
  margin: 0;
  /* 盒子模型 */
  box-sizing: border-box;
}

body {
  /* 弹性布局 让页面元素垂直+水平居中*/
  display: flex;
  justify-content: center;
  align-items: center;
  /* 让页面始终占浏览器可是区域总高度 */
  height: 100vh;
  /* 渐变颜色 */
  background: linear-gradient(#141e30, #243b55);
}

.login {
  /* 弹性布局，让子元素成为弹性项目 */
  display: flex;
  /* 让弹性项目垂直排列 */
  flex-direction: column;
  /* 让弹性项目水平居中 */
  align-items: center;
  width: 400px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

.login h2 {
  color: #fff;
  margin-bottom: 30px;
}

.login .login_box {
  /* 相对定位 */
  position: relative;
  width: 100%;
}

.login .login_box input {
  /* 清除input框自带的边框和轮廓 */
  outline: none;
  border: none;
  width: 100%;
  padding: 10 0px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  /* 背景颜色为透明 */
  background-color: transparent;
}

.login .login_box label {
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 10px 0; */
  color: #fff;
  pointer-events: none;
  /* 加个过度 */
  transition: all 0.5s;
}

.login .login_box input:focus+label,
.login .login_box input:valid+label {
  top: -20px;
  color: #03e9f4;
  font-size: 12px;
}

.login a {
  position: relative;
  padding: 10px 20px;
  color: #03e9f4;
  text-decoration: none;
  transition: all 0.5s;
}

.login a:hover {
  color: #fff;
  border-radius: 5px;
  background-color: #03e9f4;
}